* {margin: 0;}


body {background : rgb(205, 205, 205);}


.labelpoint {
    font-family    : "digital-7";
  	font-size      : 16pt;
    color          : rgb(0, 255, 0);
    position       : absolute;
    transform      : translateX(-50%);
    pointer-events : none;
}


.button {
	background-color : rgb(30, 30, 30);
    border-color     : rgb(65, 105, 225);
    border-radius    : 8px;
	width            : 150px;
	height           : 30px;
	font-family      : Jura;
    font-size        : 14pt;
    color            : SkyBlue;
    outline          : none;
    position         : absolute;
}


.round_progressbar {
    position      : absolute;
    border-radius : 50%;
}


.result {
    font-family : Jura;
	font-size   : 14pt;
    width       : 170px;
    margin-top  : -2px;
	color       : rgb(165, 165, 165);
    position    : absolute;
}


.radiobutton1 {
    width: 20px;
    height: 20px;
    position: absolute;
}


.radiolabel {
    font-family: Jura;
    color       : rgb(165, 165, 165);
    font-size: 14pt;
    position: absolute;
}


.mainheader {
    font-family : Jura;
    font-size   : 100pt;
    text-align  : center;
    margin-top  : 40px;
    text-shadow : -5px 4px 5px rgba(0, 0, 0, 0.7);
    position    : relative;
}


.wrap {
    position        : relative;
    background      : url("../images/fon1.jpg") no-repeat;
    background-size : cover;
    max-width       : 1920px;
    min-height      : 1000px;
    overflow        : hidden;
    margin          : auto;
}