input[type="range"] {
    -webkit-appearance : none;
    background-color   : transparent;
    width              : 280px;
    outline            : none;
    position           : absolute;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance : none;
    border-radius      : 10px;
    height             : 15px;
    border             : none;
    background-image   : url("../images/blue-metal-progressbar.jpg");
    background-size    : 280px 15px;
    background-repeat  : no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance : none;
    background-image   : url("../images/grey-round-button.jpg");
    background-size    : contain;
    border             : none;
    width              : 46px;
    height             : 46px;
    border-radius      : 23px;
    top                : -15px;
    cursor             : pointer;
    position           : relative;
}

input[type="range"]::-moz-range-track {
    border-radius     : 10px;
    height            : 15px;
    border            : none;
    background-image  : url("../images/blue-metal-progressbar.jpg");
    background-size   : 280px 15px;
    background-repeat : no-repeat;
}

input[type="range"]::-moz-range-thumb {
    background-color : Black;
    background-image : url("../images/grey-round-button.jpg");
    background-size  : contain;
    border           : none;
    width            : 46px;
    height           : 46px;
    border-radius    : 23px;
    cursor           : pointer;
}

input[type="range"]::-ms-track {
    border-radius     : 10px;
    height            : 15px;
    border            : none;
    background-image  : url("../images/blue-metal-progressbar.jpg");
    background-size   : 280px 15px;
    background-repeat : no-repeat;
}

input[type="range"]::-ms-thumb {
    background-color : Black;
    background-image : url("../images/grey-round-button.jpg");
    background-size  : contain;
    border           : none;
    width            : 35px;
    height           : 35px;
    border-radius    : 35px;
    cursor           : pointer;
}