input[type="range"] {
    -webkit-appearance : none;
    -moz-appearance    : none;
    background-color   : rgb(50, 50, 50);
    width              : 280px;
    position           : absolute;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius    : 10px;
    height           : 15px;
    border           : 2px solid rgb(26, 16, 16);
    background-color : rgb(42, 89, 228);
}

input[type="range"]::-webkit-slider-thumb {
    background-color   : Black;
    border             : 3px solid Green;
    width              : 35px;
    height             : 35px;
    border-radius      : 35px;
    cursor             : pointer;
}

input[type="range"]::-moz-range-track {
    border-radius    : 10px;
    height           : 15px;
    border           : 2px solid rgb(26, 16, 16);
    background-color : rgb(42, 89, 228);
}

input[type="range"]::-moz-range-thumb {
    background-color : Black;
    border           : 3px solid Green;
    width            : 35px;
    height           : 35px;
    border-radius    : 35px;
    cursor           : pointer;
}

input[type="range"]::-ms-track {
    border-radius    : 10px;
    height           : 15px;
    border           : 2px solid rgb(26, 16, 16);
    background-color : rgb(42, 89, 228);
}

input[type="range"]::-ms-thumb {
    background-color : Black;
    border           : 3px solid Green;
    width            : 35px;
    height           : 35px;
    border-radius    : 35px;
    cursor           : pointer;
}